In [2]:
sample = [
    'problem of evil',
    'evil queen',
    'horizon problem'
]

In [18]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

vec = CountVectorizer()
X = vec.fit_transform(sample)
vec.inverse_transform()

[array(['problem', 'of', 'evil'], dtype='<U7'),
 array(['evil', 'queen'], dtype='<U7'),
 array(['problem', 'horizon'], dtype='<U7')]

In [23]:
#结果是一个稀疏矩阵，里面记录了每个短语中出现的次数，
#可以使用带列标签的DataFrame表示这个稀疏矩阵
import pandas as pd
pd.DataFrame(X.toarray(),columns=vec.get_feature_names())

   evil  horizon  of  problem  queen
0     1        0   1        1      0
1     1        0   0        0      1
2     0        1   0        1      0

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer()
X = vec.fit_transform(sample)
pd.DataFrame(X.toarray(),columns=vec.get_feature_names())

       evil   horizon        of   problem     queen
0  0.517856  0.000000  0.680919  0.517856  0.000000
1  0.605349  0.000000  0.000000  0.000000  0.795961
2  0.000000  0.795961  0.000000  0.605349  0.000000